// colors
$gray: hsl(0, 0%, 50%);
$celeste:hsl(187, 61%, 74%);
$rojo: hsl(1, 82%, 66%);

// font-family
$montserrat: 'Montserrat', sans-serif;

// font-weight
$font-bold:700;
$font-regular:400;

// font-size
$font-large:50px;
$font-xx-large:35px;
$font-x-large:27px;
$font-x-medium:25px;
$font-medium:21px;
$font-regular:16px