// banner de imagen
.banner{
    width: 100%;
    height: 6.25rem;
    overflow: hidden;
    background-image: url(../images/image-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

  
    // tablet
    @include media-breakpoint-up(md){
       height: 15.63rem;
    }
    @include media-breakpoint-up(lg){
       height: 15.63rem;
    }
    @include media-breakpoint-up(xl){
       height: 15.63rem;
    }
    @include media-breakpoint-up(xxl){
       height: 15.63rem;
    }

}